// This file was auto-generated by Fern from our API Definition.

import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import * as BridgeApi from "../../../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as errors from "../../../../../../errors/index.js";

export declare namespace EstimateCharges {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        /** The default maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The default number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }
}

export class EstimateCharges {
    protected readonly _options: EstimateCharges.Options;

    constructor(_options: EstimateCharges.Options = {}) {
        this._options = _options;
    }

    /**
     * This endpoint can only be used after setting up the billing integration. Refer to the [billing integration documentation](/documentation/integrations/billing/overview) for more details.
     *
     * @param {BridgeApi.billing.EstimateChargeCreateV1Request} request
     * @param {EstimateCharges.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.estimateCharges.createEstimateCharge({
     *         patientId: "patientId",
     *         serviceEligibilityId: "serviceEligibilityId"
     *     })
     */
    public createEstimateCharge(
        request: BridgeApi.billing.EstimateChargeCreateV1Request,
        requestOptions?: EstimateCharges.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.EstimateChargeCreateV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__createEstimateCharge(request, requestOptions));
    }

    private async __createEstimateCharge(
        request: BridgeApi.billing.EstimateChargeCreateV1Request,
        requestOptions?: EstimateCharges.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.EstimateChargeCreateV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/estimate-charges",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.billing.EstimateChargeCreateV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling POST /api/estimate-charges.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * This endpoint can only be used after setting up the billing integration. Refer to the [billing integration documentation](/documentation/integrations/billing/overview) for more details.
     *
     * @param {string} id
     * @param {EstimateCharges.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.estimateCharges.authorizeStripeEstimateCharge("id")
     */
    public authorizeStripeEstimateCharge(
        id: string,
        requestOptions?: EstimateCharges.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.EstimateChargeAuthorizeStripeV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__authorizeStripeEstimateCharge(id, requestOptions));
    }

    private async __authorizeStripeEstimateCharge(
        id: string,
        requestOptions?: EstimateCharges.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.EstimateChargeAuthorizeStripeV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/estimate-charges/${encodeURIComponent(id)}/authorize/stripe`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.billing.EstimateChargeAuthorizeStripeV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling POST /api/estimate-charges/{id}/authorize/stripe.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * This endpoint can only be used after setting up the billing integration. Refer to the [billing integration documentation](/documentation/integrations/billing/overview) for more details.
     *
     * @param {string} id
     * @param {EstimateCharges.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.estimateCharges.captureStripeEstimateCharge("id")
     */
    public captureStripeEstimateCharge(
        id: string,
        requestOptions?: EstimateCharges.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.EstimateChargeCaptureStripeV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__captureStripeEstimateCharge(id, requestOptions));
    }

    private async __captureStripeEstimateCharge(
        id: string,
        requestOptions?: EstimateCharges.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.EstimateChargeCaptureStripeV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/estimate-charges/${encodeURIComponent(id)}/capture/stripe`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.billing.EstimateChargeCaptureStripeV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling POST /api/estimate-charges/{id}/capture/stripe.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * This endpoint can only be used after setting up the billing integration. Refer to the [billing integration documentation](/documentation/integrations/billing/overview) for more details.
     *
     * @param {string} id
     * @param {EstimateCharges.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.estimateCharges.refundStripeEstimateCharge("id")
     */
    public refundStripeEstimateCharge(
        id: string,
        requestOptions?: EstimateCharges.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.EstimateChargeRefundStripeV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__refundStripeEstimateCharge(id, requestOptions));
    }

    private async __refundStripeEstimateCharge(
        id: string,
        requestOptions?: EstimateCharges.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.EstimateChargeRefundStripeV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/estimate-charges/${encodeURIComponent(id)}/refund/stripe`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.billing.EstimateChargeRefundStripeV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling POST /api/estimate-charges/{id}/refund/stripe.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * This endpoint can only be used after setting up the billing integration. Refer to the [billing integration documentation](/documentation/integrations/billing/overview) for more details.
     *
     * @param {string} id
     * @param {EstimateCharges.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.estimateCharges.cancelStripeEstimateCharge("id")
     */
    public cancelStripeEstimateCharge(
        id: string,
        requestOptions?: EstimateCharges.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.EstimateChargeCancelStripeV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__cancelStripeEstimateCharge(id, requestOptions));
    }

    private async __cancelStripeEstimateCharge(
        id: string,
        requestOptions?: EstimateCharges.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.EstimateChargeCancelStripeV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/estimate-charges/${encodeURIComponent(id)}/cancel/stripe`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.billing.EstimateChargeCancelStripeV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling POST /api/estimate-charges/{id}/cancel/stripe.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
