/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as BridgeApi from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace ProviderEligibility {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Override the X-Request-ID header */
        xRequestId?: core.Supplier<string | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Override the X-Request-ID header */
        xRequestId?: string | undefined;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

export class ProviderEligibility {
    protected readonly _options: ProviderEligibility.Options;

    constructor(_options: ProviderEligibility.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {BridgeApi.ProviderEligibilityCreateV1Request} request
     * @param {ProviderEligibility.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.providerEligibility.createProviderEligibility({
     *         dateOfService: "2024-01-15T09:30:00Z",
     *         serviceTypeId: "serviceTypeId",
     *         location: {
     *             line1: undefined,
     *             line2: undefined,
     *             city: undefined,
     *             state: "AL",
     *             postalCode: undefined,
     *             country: undefined
     *         },
     *         payerId: "payerId"
     *     })
     */
    public createProviderEligibility(
        request: BridgeApi.ProviderEligibilityCreateV1Request,
        requestOptions?: ProviderEligibility.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.ProviderEligibilityCreateV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__createProviderEligibility(request, requestOptions));
    }

    private async __createProviderEligibility(
        request: BridgeApi.ProviderEligibilityCreateV1Request,
        requestOptions?: ProviderEligibility.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.ProviderEligibilityCreateV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Request-ID": requestOptions?.xRequestId,
                ...(await this._getCustomAuthorizationHeaders()),
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/provider-eligibility",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.ProviderEligibilityCreateV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling POST /api/provider-eligibility.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} id
     * @param {ProviderEligibility.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.providerEligibility.getProviderEligibility("id")
     */
    public getProviderEligibility(
        id: string,
        requestOptions?: ProviderEligibility.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.ProviderEligibilityGetV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__getProviderEligibility(id, requestOptions));
    }

    private async __getProviderEligibility(
        id: string,
        requestOptions?: ProviderEligibility.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.ProviderEligibilityGetV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Request-ID": requestOptions?.xRequestId,
                ...(await this._getCustomAuthorizationHeaders()),
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/provider-eligibility/${encodeURIComponent(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.ProviderEligibilityGetV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling GET /api/provider-eligibility/{id}.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
