// This file was auto-generated by Fern from our API Definition.

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as BridgeApi from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";
import { Enrollment } from "../resources/enrollment/client/Client.js";

export declare namespace Providers {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        /** The default maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The default number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }
}

export class Providers {
    protected readonly _options: Providers.Options;
    protected _enrollment: Enrollment | undefined;

    constructor(_options: Providers.Options = {}) {
        this._options = _options;
    }

    public get enrollment(): Enrollment {
        return (this._enrollment ??= new Enrollment(this._options));
    }

    /**
     * Submits one or more providers for credentialing intake. In live environments, this starts the provider submission workflow and resolves provider names from the CMS NPI Registry. In sandbox, the endpoint is available with the same request and response shape, but providers are created immediately without an external NPI registry lookup; created providers use firstName `Sandbox` and lastName set to the submitted NPI.
     *
     * @param {BridgeApi.ProviderPostV1Request} request
     * @param {Providers.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.providers.submitProviders({
     *         providers: [{
     *                 npi: "npi",
     *                 email: "email",
     *                 caqhId: "caqhId",
     *                 caqhUsername: "caqhUsername",
     *                 caqhPassword: "caqhPassword"
     *             }, {
     *                 npi: "npi",
     *                 email: "email",
     *                 caqhId: "caqhId",
     *                 caqhUsername: "caqhUsername",
     *                 caqhPassword: "caqhPassword"
     *             }]
     *     })
     */
    public submitProviders(
        request: BridgeApi.ProviderPostV1Request,
        requestOptions?: Providers.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.ProviderPostV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__submitProviders(request, requestOptions));
    }

    private async __submitProviders(
        request: BridgeApi.ProviderPostV1Request,
        requestOptions?: Providers.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.ProviderPostV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/providers/submit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.ProviderPostV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling POST /api/providers/submit.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {BridgeApi.ProvidersListV1Request} request
     * @param {Providers.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.providers.listProviders()
     */
    public listProviders(
        request: BridgeApi.ProvidersListV1Request = {},
        requestOptions?: Providers.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.ProvidersListV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__listProviders(request, requestOptions));
    }

    private async __listProviders(
        request: BridgeApi.ProvidersListV1Request = {},
        requestOptions?: Providers.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.ProvidersListV1Response>> {
        const { "filter.active": filterActive, page, limit } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (filterActive != null) {
            _queryParams["filter.active"] = filterActive.toString();
        }

        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/providers",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.ProvidersListV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/providers.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} id
     * @param {Providers.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.providers.getProvider("id")
     */
    public getProvider(
        id: string,
        requestOptions?: Providers.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.ProviderGetV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__getProvider(id, requestOptions));
    }

    private async __getProvider(
        id: string,
        requestOptions?: Providers.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.ProviderGetV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/providers/${encodeURIComponent(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.ProviderGetV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/providers/{id}.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} id
     * @param {BridgeApi.ProviderUpdateV1Request} request
     * @param {Providers.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.providers.updateProvider("id", {})
     */
    public updateProvider(
        id: string,
        request: BridgeApi.ProviderUpdateV1Request,
        requestOptions?: Providers.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.ProviderUpdateV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__updateProvider(id, request, requestOptions));
    }

    private async __updateProvider(
        id: string,
        request: BridgeApi.ProviderUpdateV1Request,
        requestOptions?: Providers.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.ProviderUpdateV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/providers/${encodeURIComponent(id)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.ProviderUpdateV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling POST /api/providers/{id}.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
