/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as BridgeApi from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Notes {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Override the X-Request-ID header */
        xRequestId?: core.Supplier<string | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Override the X-Request-ID header */
        xRequestId?: string | undefined;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

export class Notes {
    protected readonly _options: Notes.Options;

    constructor(_options: Notes.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {BridgeApi.NoteCreateV1Request} request
     * @param {Notes.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.notes.createNote({
     *         serviceId: "serviceId",
     *         externalId: undefined,
     *         data: {
     *             PATIENT_NAME: undefined,
     *             ICD10: undefined,
     *             SUBJECTIVE: undefined,
     *             OBJECTIVE: undefined,
     *             ASSESSMENT: undefined,
     *             TEXT: undefined,
     *             PLAN: undefined,
     *             DIAGNOSIS: undefined,
     *             INTERVENTION: undefined,
     *             MONITORING_AND_EVALUATION: undefined,
     *             TELEHEALTH_DISCLAIMER: undefined,
     *             TOTAL_TIME_SPENT: undefined,
     *             TIME_SPENT_MINUTES: undefined,
     *             THERAPY_TIME_SPENT_MINUTES: undefined,
     *             PRESCRIPTION_WRITTEN: undefined,
     *             MEDICATION_MANAGED: undefined,
     *             DATE_RANGE_START: undefined,
     *             DATE_RANGE_END: undefined,
     *             MONITORING_DATA: undefined
     *         },
     *         signature: {
     *             timestamp: "2024-01-15T09:30:00Z",
     *             providerId: "providerId"
     *         }
     *     })
     */
    public createNote(
        request: BridgeApi.NoteCreateV1Request,
        requestOptions?: Notes.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.NoteCreateV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__createNote(request, requestOptions));
    }

    private async __createNote(
        request: BridgeApi.NoteCreateV1Request,
        requestOptions?: Notes.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.NoteCreateV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Request-ID": requestOptions?.xRequestId,
                ...(await this._getCustomAuthorizationHeaders()),
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/notes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.NoteCreateV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling POST /api/notes.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} id
     * @param {Notes.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.notes.getNote("id")
     */
    public getNote(
        id: string,
        requestOptions?: Notes.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.NoteGetV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__getNote(id, requestOptions));
    }

    private async __getNote(
        id: string,
        requestOptions?: Notes.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.NoteGetV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Request-ID": requestOptions?.xRequestId,
                ...(await this._getCustomAuthorizationHeaders()),
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/notes/${encodeURIComponent(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.NoteGetV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/notes/{id}.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} id
     * @param {BridgeApi.NoteAddendaListV1Request} request
     * @param {Notes.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.notes.listNoteAddenda("id")
     */
    public listNoteAddenda(
        id: string,
        request: BridgeApi.NoteAddendaListV1Request = {},
        requestOptions?: Notes.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.NoteAddendaListV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__listNoteAddenda(id, request, requestOptions));
    }

    private async __listNoteAddenda(
        id: string,
        request: BridgeApi.NoteAddendaListV1Request = {},
        requestOptions?: Notes.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.NoteAddendaListV1Response>> {
        const { "filter.noteId": filterNoteId, "order.createdAt": orderCreatedAt, page, limit } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (filterNoteId != null) {
            _queryParams["filter.noteId"] = filterNoteId;
        }

        if (orderCreatedAt != null) {
            _queryParams["order.createdAt"] = orderCreatedAt;
        }

        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Request-ID": requestOptions?.xRequestId,
                ...(await this._getCustomAuthorizationHeaders()),
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/notes/${encodeURIComponent(id)}/addenda`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.NoteAddendaListV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/notes/{id}/addenda.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} id
     * @param {BridgeApi.NoteAddendumCreateV1Request} request
     * @param {Notes.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.notes.createNoteAddendum("id", {
     *         externalId: undefined,
     *         data: {
     *             PATIENT_NAME: undefined,
     *             ICD10: undefined,
     *             SUBJECTIVE: undefined,
     *             OBJECTIVE: undefined,
     *             ASSESSMENT: undefined,
     *             TEXT: undefined,
     *             PLAN: undefined,
     *             DIAGNOSIS: undefined,
     *             INTERVENTION: undefined,
     *             MONITORING_AND_EVALUATION: undefined,
     *             TELEHEALTH_DISCLAIMER: undefined,
     *             TOTAL_TIME_SPENT: undefined,
     *             TIME_SPENT_MINUTES: undefined,
     *             THERAPY_TIME_SPENT_MINUTES: undefined,
     *             PRESCRIPTION_WRITTEN: undefined,
     *             MEDICATION_MANAGED: undefined,
     *             DATE_RANGE_START: undefined,
     *             DATE_RANGE_END: undefined,
     *             MONITORING_DATA: undefined
     *         },
     *         signature: {
     *             timestamp: "2024-01-15T09:30:00Z",
     *             providerId: "providerId"
     *         }
     *     })
     */
    public createNoteAddendum(
        id: string,
        request: BridgeApi.NoteAddendumCreateV1Request,
        requestOptions?: Notes.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.NoteAddendumCreateV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__createNoteAddendum(id, request, requestOptions));
    }

    private async __createNoteAddendum(
        id: string,
        request: BridgeApi.NoteAddendumCreateV1Request,
        requestOptions?: Notes.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.NoteAddendumCreateV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Request-ID": requestOptions?.xRequestId,
                ...(await this._getCustomAuthorizationHeaders()),
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/notes/${encodeURIComponent(id)}/addenda`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.NoteAddendumCreateV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling POST /api/notes/{id}/addenda.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
