/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import * as BridgeApi from "../../../../../index.js";
import { toJson } from "../../../../../../core/json.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as errors from "../../../../../../errors/index.js";

export declare namespace V2 {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

export class V2 {
    protected readonly _options: V2.Options;

    constructor(_options: V2.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {BridgeApi.services.ServicesListV2Request} request
     * @param {V2.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.services.v2.listServices()
     */
    public listServices(
        request: BridgeApi.services.ServicesListV2Request = {},
        requestOptions?: V2.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.services.ServicesListV2Response> {
        return core.HttpResponsePromise.fromPromise(this.__listServices(request, requestOptions));
    }

    private async __listServices(
        request: BridgeApi.services.ServicesListV2Request = {},
        requestOptions?: V2.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.services.ServicesListV2Response>> {
        const {
            "filter.serviceTypeId": filterServiceTypeId,
            "filter.patientId": filterPatientId,
            "filter.status": filterStatus,
            "filter.providerId": filterProviderId,
            "order.createdAt": orderCreatedAt,
            page,
            limit,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (filterServiceTypeId != null) {
            _queryParams["filter.serviceTypeId"] = filterServiceTypeId;
        }

        if (filterPatientId != null) {
            _queryParams["filter.patientId"] = filterPatientId;
        }

        if (filterStatus != null) {
            _queryParams["filter.status"] = toJson(filterStatus);
        }

        if (filterProviderId != null) {
            _queryParams["filter.providerId"] = toJson(filterProviderId);
        }

        if (orderCreatedAt != null) {
            _queryParams["order.createdAt"] = orderCreatedAt;
        }

        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/services/v2",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.services.ServicesListV2Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/services/v2.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Creates a new `Service`, creates the `ServiceEligibility` in status `PENDING`
     *
     * @param {BridgeApi.services.ServiceCreateV2Request} request
     * @param {V2.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.services.v2.createService({
     *         patientId: "patientId",
     *         dateOfService: "2024-01-15T09:30:00Z",
     *         serviceTypeId: "serviceTypeId",
     *         location: {
     *             state: "AL"
     *         },
     *         providerId: "providerId"
     *     })
     */
    public createService(
        request: BridgeApi.services.ServiceCreateV2Request,
        requestOptions?: V2.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.services.ServiceCreateV2Response> {
        return core.HttpResponsePromise.fromPromise(this.__createService(request, requestOptions));
    }

    private async __createService(
        request: BridgeApi.services.ServiceCreateV2Request,
        requestOptions?: V2.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.services.ServiceCreateV2Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/services/v2",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.services.ServiceCreateV2Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling POST /api/services/v2.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
