// This file was auto-generated by Fern from our API Definition.

import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import * as BridgeApi from "../../../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as errors from "../../../../../../errors/index.js";

export declare namespace Enrollment {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        /** The default maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The default number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }
}

export class Enrollment {
    protected readonly _options: Enrollment.Options;

    constructor(_options: Enrollment.Options = {}) {
        this._options = _options;
    }

    /**
     * Returns the high-level enrollment status of a provider
     *
     * **Production only:** This endpoint is only available in Production and will not work in Sandbox.
     *
     * @param {string} id
     * @param {Enrollment.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.providers.enrollment.getProviderEnrollmentStatus("id")
     */
    public getProviderEnrollmentStatus(
        id: string,
        requestOptions?: Enrollment.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.providers.ProviderEnrollmentStatusGetV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__getProviderEnrollmentStatus(id, requestOptions));
    }

    private async __getProviderEnrollmentStatus(
        id: string,
        requestOptions?: Enrollment.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.providers.ProviderEnrollmentStatusGetV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/providers/${encodeURIComponent(id)}/enrollment-status`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.providers.ProviderEnrollmentStatusGetV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling GET /api/providers/{id}/enrollment-status.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
