// This file was auto-generated by Fern from our API Definition.

import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import * as BridgeApi from "../../../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as errors from "../../../../../../errors/index.js";

export declare namespace Fees {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        /** The default maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The default number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }
}

export class Fees {
    protected readonly _options: Fees.Options;

    constructor(_options: Fees.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {BridgeApi.billing.FeesListV1Request} request
     * @param {Fees.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.fees.listFees()
     */
    public listFees(
        request: BridgeApi.billing.FeesListV1Request = {},
        requestOptions?: Fees.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.FeesListV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__listFees(request, requestOptions));
    }

    private async __listFees(
        request: BridgeApi.billing.FeesListV1Request = {},
        requestOptions?: Fees.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.FeesListV1Response>> {
        const {
            "filter.patientId": filterPatientId,
            "filter.serviceId": filterServiceId,
            "filter.serviceEligibilityId": filterServiceEligibilityId,
            "filter.status": filterStatus,
            page,
            limit,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (filterPatientId != null) {
            _queryParams["filter.patientId"] = filterPatientId;
        }

        if (filterServiceId != null) {
            _queryParams["filter.serviceId"] = filterServiceId;
        }

        if (filterServiceEligibilityId != null) {
            _queryParams["filter.serviceEligibilityId"] = filterServiceEligibilityId;
        }

        if (filterStatus != null) {
            _queryParams["filter.status"] = filterStatus;
        }

        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/fees/v2",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.billing.FeesListV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/fees/v2.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * This endpoint can only be used after setting up the billing integration. Refer to the [billing integration documentation](/documentation/integrations/billing/overview) for more details.
     *
     * @param {BridgeApi.billing.FeeCreateV1Request} request
     * @param {Fees.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.fees.createFee({
     *         patientId: "patientId",
     *         type: "LATE_CANCELLATION"
     *     })
     */
    public createFee(
        request: BridgeApi.billing.FeeCreateV1Request,
        requestOptions?: Fees.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.FeeCreateV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__createFee(request, requestOptions));
    }

    private async __createFee(
        request: BridgeApi.billing.FeeCreateV1Request,
        requestOptions?: Fees.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.FeeCreateV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/fees/v2",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.billing.FeeCreateV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling POST /api/fees/v2.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * This endpoint can only be used after setting up the billing integration. Refer to the [billing integration documentation](/documentation/integrations/billing/overview) for more details.
     *
     * @param {string} id
     * @param {Fees.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.fees.captureStripeFee("id")
     */
    public captureStripeFee(
        id: string,
        requestOptions?: Fees.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.FeeCaptureStripeV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__captureStripeFee(id, requestOptions));
    }

    private async __captureStripeFee(
        id: string,
        requestOptions?: Fees.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.FeeCaptureStripeV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/fees/v2/${encodeURIComponent(id)}/capture/stripe`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.billing.FeeCaptureStripeV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling POST /api/fees/v2/{id}/capture/stripe.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * This endpoint can only be used after setting up the billing integration. Refer to the [billing integration documentation](/documentation/integrations/billing/overview) for more details.
     *
     * @param {string} id
     * @param {Fees.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.fees.refundStripeFee("id")
     */
    public refundStripeFee(
        id: string,
        requestOptions?: Fees.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.billing.FeeRefundStripeV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__refundStripeFee(id, requestOptions));
    }

    private async __refundStripeFee(
        id: string,
        requestOptions?: Fees.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.billing.FeeRefundStripeV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/fees/v2/${encodeURIComponent(id)}/refund/stripe`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.billing.FeeRefundStripeV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling POST /api/fees/v2/{id}/refund/stripe.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
