// This file was auto-generated by Fern from our API Definition.

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as BridgeApi from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";
import { Health } from "../resources/health/client/Client.js";

export declare namespace PayerGroups {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        /** The default maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The default number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }
}

export class PayerGroups {
    protected readonly _options: PayerGroups.Options;
    protected _health: Health | undefined;

    constructor(_options: PayerGroups.Options = {}) {
        this._options = _options;
    }

    public get health(): Health {
        return (this._health ??= new Health(this._options));
    }

    /**
     * @param {BridgeApi.PayerGroupsListV1Request} request
     * @param {PayerGroups.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payerGroups.listPayerGroups()
     */
    public listPayerGroups(
        request: BridgeApi.PayerGroupsListV1Request = {},
        requestOptions?: PayerGroups.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.PayerGroupsListV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__listPayerGroups(request, requestOptions));
    }

    private async __listPayerGroups(
        request: BridgeApi.PayerGroupsListV1Request = {},
        requestOptions?: PayerGroups.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.PayerGroupsListV1Response>> {
        const { page, limit } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                "/api/payer-groups",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.PayerGroupsListV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/payer-groups.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} id - Payer group ID or slug (both are supported)
     * @param {PayerGroups.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payerGroups.getPayerGroup("id")
     */
    public getPayerGroup(
        id: string,
        requestOptions?: PayerGroups.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.PayerGroupGetV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__getPayerGroup(id, requestOptions));
    }

    private async __getPayerGroup(
        id: string,
        requestOptions?: PayerGroups.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.PayerGroupGetV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/payer-groups/${encodeURIComponent(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as BridgeApi.PayerGroupGetV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/payer-groups/{id}.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
