// This file was auto-generated by Fern from our API Definition.

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as BridgeApi from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Consent {
    export interface Options {
        environment?: core.Supplier<environments.BridgeApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        /** The default maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The default number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }
}

export class Consent {
    protected readonly _options: Consent.Options;

    constructor(_options: Consent.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {string} id
     * @param {BridgeApi.PatientConsentsListV1Request} request
     * @param {Consent.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.consent.listPatientConsents("id")
     */
    public listPatientConsents(
        id: string,
        request: BridgeApi.PatientConsentsListV1Request = {},
        requestOptions?: Consent.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.PatientConsentsListV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__listPatientConsents(id, request, requestOptions));
    }

    private async __listPatientConsents(
        id: string,
        request: BridgeApi.PatientConsentsListV1Request = {},
        requestOptions?: Consent.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.PatientConsentsListV1Response>> {
        const { page, limit } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (page != null) {
            _queryParams["page"] = page.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/patients/${encodeURIComponent(id)}/consent`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.PatientConsentsListV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError("Timeout exceeded when calling GET /api/patients/{id}/consent.");
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} id
     * @param {BridgeApi.PatientConsentCreateV1Request} request
     * @param {Consent.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.consent.createPatientConsent("id", {
     *         type: "ASSIGNMENT_OF_BENEFITS",
     *         version: "version",
     *         consentedAt: "2024-01-15T09:30:00Z"
     *     })
     */
    public createPatientConsent(
        id: string,
        request: BridgeApi.PatientConsentCreateV1Request,
        requestOptions?: Consent.RequestOptions,
    ): core.HttpResponsePromise<BridgeApi.PatientConsentCreateV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__createPatientConsent(id, request, requestOptions));
    }

    private async __createPatientConsent(
        id: string,
        request: BridgeApi.PatientConsentCreateV1Request,
        requestOptions?: Consent.RequestOptions,
    ): Promise<core.WithRawResponse<BridgeApi.PatientConsentCreateV1Response>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BridgeApiEnvironment.Production,
                `/api/patients/${encodeURIComponent(id)}/consent`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as BridgeApi.PatientConsentCreateV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.BridgeApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.BridgeApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.BridgeApiTimeoutError(
                    "Timeout exceeded when calling POST /api/patients/{id}/consent.",
                );
            case "unknown":
                throw new errors.BridgeApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["BRIDGE_API_KEY"];
        return { "X-API-Key": apiKeyValue };
    }
}
